In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [113]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
Y_test= pd.read_csv('gender_submission.csv')
Y_test = Y_test.drop(['PassengerId'],axis=1)

In [114]:
train=train.drop(["Name","PassengerId","Cabin","Ticket"],axis=1)
test=test.drop(["Name","PassengerId","Cabin","Ticket"],axis=1)

In [115]:
#values in age and embarked missing
#use fill.na

# mean of the specific column
mean_value=train['Age'].mean()
train['Age'] = train['Age'].fillna(mean_value)
mean_value1=test['Age'].mean()
test['Age'] = test['Age'].fillna(mean_value1)

In [116]:
#S most common and  2 missing

train['Embarked'] = train['Embarked'].fillna('S')

test['Embarked'] = test['Embarked'].fillna('S')
train['Embarked'].describe()

count     891
unique      3
top         S
freq      646
Name: Embarked, dtype: object

In [117]:
genders = {"male": 0, "female": 1}
data = [train, test]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

In [118]:
station = {"S": 0, "C": 1, "Q": 2}
for dataset in data:
    dataset['Embarked']=dataset['Embarked'].map(station)

In [119]:
train = (train - train.mean())/(train.max()-train.min())

In [120]:

X_train= train.drop("Survived",axis=1)
Y_train= train["Survived"]

In [121]:
B=np.zeros(7)

In [122]:
alpha=0.001
iterations=1000
X_train.shape

(891, 7)

In [123]:
def sigmoid(X_train,B):
    result_sigmoid  = np.exp(X_train.dot(B))/(1+ np.exp(X_train.dot(B)))
    return  result_sigmoid

In [124]:
 
m=len(Y_train)

def cost_function(X_train,Y_train,B):
    h=sigmoid(X_train,B)
    a=np.log(h)
    b=np.log(1-h)
    c=Y_train
    d= (1-Y_train)
    cost_function=(-c*a - b*d)/m
    cost_function=cost_function.sum()/m
    return cost_function

In [125]:
def weightchange(X_train, Y_train, B, alpha):
        m =len(X_train)
        h = sigmoid(X_train,B)
        loss = h-Y_train
        gradient = X_train.T.dot(loss)/m
        B = B - alpha*gradient
        return B

In [126]:
#features;X_train ;(891,8)
#labels :Y_train; (891,)
#weights ;B ;(8,)


def train(X_train, Y_train, B, alpha):
    cost_history=[0]*iterations#
   
    for iteration in range(iterations):
        B = weightchange(X_train, Y_train, B, alpha)
        
        cost = cost_function(X_train, Y_train, B)
        cost_history.append(cost)   
             
        return B, cost_history

In [127]:
newB,cost_history= train(X_train, Y_train, B, alpha)
newB

Pclass     -0.000069
Sex         0.000126
Age        -0.000006
SibSp      -0.000002
Parch       0.000005
Fare        0.000012
Embarked    0.000017
dtype: float64

In [128]:
h=sigmoid(test,newB)
h.describe()

count    417.000000
mean       0.500041
std        0.000177
min        0.499913
25%        0.499944
50%        0.499979
75%        0.500046
max        0.501493
dtype: float64

In [129]:
Y_pred = sigmoid(test,newB)
Y_pred

0      0.499933
1      0.499935
2      0.499917
3      0.499937
4      0.499987
5      0.499957
6      0.499970
7      0.500018
8      0.499981
9      0.499991
10     0.499930
11     0.499998
12     0.500231
13     0.499957
14     0.500134
15     0.500052
16     0.499963
17     0.499945
18     0.499966
19     0.499944
20     0.500090
21     0.499947
22     0.500068
23     0.500145
24     0.500751
25     0.499923
26     0.500177
27     0.499943
28     0.500018
29     0.499975
         ...
388    0.499951
389    0.500004
390    0.500234
391    0.500065
392    0.499994
393    0.499932
394    0.499975
395    0.500171
396    0.499945
397    0.500193
398    0.499942
399    0.499937
400    0.500473
401    0.499976
402    0.500169
403    0.500102
404    0.500011
405    0.499984
406    0.499965
407    0.500560
408    0.499970
409    0.500018
410    0.499970
411    0.500244
412    0.499965
413    0.499931
414    0.500295
415    0.499917
416    0.499931
417    0.499979
Length: 418, dtype: float64

In [130]:
def sort(Y_pred):
    return 1 if Y_pred >=0.5 else 0

In [131]:
Y_pred=Y_pred.map(sort)
type(Y_pred)

pandas.core.series.Series

In [132]:
#series to dataframe?

In [133]:
Y_pred.to_frame()

     0
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    1
8    0
9    0
10   0
11   0
12   1
13   0
14   1
15   1
16   0
17   0
18   0
19   0
20   1
21   0
22   1
23   1
24   1
25   0
26   1
27   0
28   1
29   0
..  ..
388  0
389  1
390  1
391  1
392  0
393  0
394  0
395  1
396  0
397  1
398  0
399  0
400  1
401  0
402  1
403  1
404  1
405  0
406  0
407  1
408  0
409  1
410  0
411  1
412  0
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [134]:
type(Y_test)
Y_test

     Survived
0           0
1           1
2           0
3           0
4           1
5           0
6           1
7           0
8           1
9           0
10          0
11          0
12          1
13          0
14          1
15          1
16          0
17          0
18          1
19          1
20          0
21          0
22          1
23          0
24          1
25          0
26          1
27          0
28          0
29          0
..        ...
388         0
389         0
390         0
391         1
392         0
393         0
394         0
395         1
396         0
397         1
398         0
399         0
400         1
401         0
402         1
403         0
404         0
405         0
406         0
407         0
408         1
409         1
410         1
411         1
412         1
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [135]:
def compare(Y_pred,Y_test):
    diff = Y_pred - Y_test
    return np.count_nonzero(diff)

In [136]:
compare(Y_pred,Y_test)

175142

In [137]:
np.count_nonzero(Y_pred)

169

In [103]:
np.count_nonzero(Y_test)

152

In [77]:
m=len(Y_test)

In [138]:

Y_test.shape

for i in range(m):
    if Y_test[i] == Y_pred[i]:
        count=count+1

KeyError: 0

(418,)